<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palautelomake</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Palautelomake</h1>
    

    <form action="/palaute" method="POST">
        Nimi:<input name="nimi" type="text">
        <br>
        Sähköposti:<input name="email" type="email">
        <br>
        Palaute:
        <br>
        <textarea name="palaute"></textarea>
        <button type="submit">Lähetä</button>
    </form>
</body>
</html>